<!DOCTYPE html>
<html>
  <head>
    <title>HOME</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" type="text/css" href="/css/style_main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="shortcut icon" href="#"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  </head>

  <script>
    
    $(document).ready(function(){
      var room = '<%- data.room %>';
      console.log(room)
      var img_ele = null,
      x_cursor = 0,
      y_cursor = 0,
      x_img_ele = 0,
      y_img_ele = 0;
      
      document.getElementById('drag-img').addEventListener('mousedown', start_drag);
      document.getElementById('container').addEventListener('mousemove', while_drag);
      document.getElementById('container').addEventListener('mouseup', stop_drag);
      document.getElementById('zoomout').addEventListener('click', function() {
        zoom(0.5);
      });
      document.getElementById('zoomin').addEventListener('click', function() {
        zoom(1.5);
      });
      
      var audio_cnt = 0;
      var count_audio = 0;
      var audio_available = [0,1,2,3,4,5,6,7,8,9];
      var audio_unavailable = [];
      
      $("#add_audio").click(function(){
        audio_cnt = audio_available.shift();
        audio_unavailable.push(audio_cnt);
        console.log("audio available:"+audio_available);
        console.log("audio unavailable:"+audio_unavailable);
        if (count_audio >= 10) {
          alert('audio cannot exceed 10 items!! please remove your audio track.');
          return;
        }
        
        var audio_ele_str = 
          '<li id="audio_li_'+audio_cnt+'">'+
            '<button class="open-button" onclick="openForm('+audio_cnt+',0)">edit</button>'+
            '<audio id="audio'+audio_cnt+'" controls> '+
              '<source id="src'+audio_cnt+'" src="">'+
            '</audio>'+
            '<button id="remove_audio'+audio_cnt+'">rm</button>'+
          '</li>';
        
        $("ul").append(audio_ele_str);
        
        document.getElementById("remove_audio"+audio_cnt).addEventListener("click", remove_audio_track, false);
        
        openForm(audio_cnt, 0);
        
        count_audio += 1;
      });
      
      function remove_audio_track(event) {
        console.log(audio_cnt)
        console.log(event.target.id)
        var n = event.target.id.slice(-1);
        audio_available.push(parseInt(n));
        var index = audio_unavailable.indexOf(parseInt(n));
        console.log(index)
        if (index !== -1) {
          audio_unavailable.splice(index, 1);
        }
        
        console.log("audio available:"+audio_available);
        console.log("audio unavailable:"+audio_unavailable);
        
        var li_to_remove = "#audio_li_" + n
        $(li_to_remove).remove();
        console.log('removed audio :'+n);
        count_audio -= 1;
        
        axios.post('/removeFile', 
          JSON.stringify({n: n, type: 0, room: room})
        )
        .then(function (response) {
          console.log(response.config.data);
          //window.location = '/Room'
        })
        .catch(function (error) {
          console.log(error);
          //window.location="/Signin"
        });
      }
      
      var pic_cnt = 0;
      var count_picture = 0;
      var pic_available = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19];
      var pic_unavailable = [];
      
      $("#add_pic").click(function() {
        pic_cnt = pic_available.shift();
        pic_unavailable.push(pic_cnt);
        console.log("pic available:"+pic_available);
        console.log("pic unavailable:"+pic_unavailable);
        
        if (count_picture >= 10) {
          alert('picture cannot exceed 10 items!! please remove your picture.');
          return;
        }
        
        var pic_ele_str = 
          '<div id="pic_li_' + pic_cnt + '" class="column">' + 
            '<img id="pic_src'+ pic_cnt +'" class="demo cursor" src="" style="width:100%" onclick="currentSlide(' + pic_cnt + ')">' +
            '<button class="open-button" onclick="openForm('+pic_cnt+',1)">edit</button>'+
            '<button id="remove_pic' + pic_cnt + '">rm</button>' +
          '</div>';
          
        $("#pic_list").append(pic_ele_str)
        
        document.getElementById("remove_pic"+pic_cnt).addEventListener("click", remove_picture, false);
        
        openForm(pic_cnt, 1);
        
        count_picture += 1;
      })
      
      function remove_picture(event) {
        console.log(pic_cnt)
        console.log(event.target.id)
        
        var n = event.target.id.slice(-1);
        
        pic_available.push(parseInt(n));
        
        var index = pic_unavailable.indexOf(parseInt(n));
        console.log(index)
        if (index !== -1) {
          pic_unavailable.splice(index, 1);
        }
        
        console.log("pic available:"+pic_available);
        console.log("pic unavailable:"+pic_unavailable);
        
        var li_to_remove = "#pic_li_" + n
        $(li_to_remove).remove();
        console.log('removed pic :'+n);
        count_picture -= 1;
        
        axios.post('/removeFile', 
          JSON.stringify({n: n, type: 1, room: room})
        )
        .then(function (response) {
          console.log(response.config.data);
          //window.location = '/Room'
        })
        .catch(function (error) {
          console.log(error);
          //window.location="/Signin"
        });
      }

      
      
      function zoom(zoomincrement) {
        img_ele = document.getElementById('drag-img');
        var pre_width = img_ele.getBoundingClientRect().width, pre_height = img_ele.getBoundingClientRect().height;
        img_ele.style.width = (pre_width * zoomincrement) + 'px';
        img_ele.style.height = (pre_height * zoomincrement) + 'px';
        img_ele = null;
      }
      
      function start_drag() {
        img_ele = this;
        x_img_ele = window.event.clientX - document.getElementById('drag-img').offsetLeft;
        y_img_ele = window.event.clientY - document.getElementById('drag-img').offsetTop;
      }
      
      function stop_drag() {
        img_ele = null;
      }
      
      function while_drag() {
        var x_cursor = window.event.clientX;
        var y_cursor = window.event.clientY;
        if (img_ele !== null) {
          if (x_cursor - x_img_ele > 0) 
            img_ele.style.left = '0px';
//          else if (x_img_ele - x_cursor < img_ele.style.width)
//            img_ele.style.left = img_ele.style.width + 'px';
          else
            img_ele.style.left = (x_cursor - x_img_ele) + 'px';
          
          if (window.event.clientY - y_img_ele > 0)
            img_ele.style.top = '0px'
          else
            img_ele.style.top = ( window.event.clientY - y_img_ele) + 'px';
          console.log(img_ele.style.left+' - '+img_ele.style.top);
        }
      }
    });
  </script>
  
  <body>
    <div class='bgimg'>
      <div class="navbar">
        <div class="logo"><img src="/img/logo.png" width="200px"></div>
        <div class="dot"><img src="/img/ic_dot.png" width="15px"></div>
        <div class="search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="請輸入房間編號" name="search" class="searchbar">
            <button type="submit">GO</button>
            <button class="user"><img src="/img/ic_user.png" width="22px"></button>
          </form> <!-- end form-->
        </div> <!-- end search-container -->
      </div> <!--end navbar -->

      <hr width="100%" color="#D0D9EE" />
      <div class="title-1">
        <img src="/img/ic_track.png" class="title" width="180px">
      </div>
      <div class="AudioTrack">
        <ul></ul>
        <img id="add_audio" width="40px" src="/img/ic_addaudio.png">
      </div>
      
      <div class="title-2">
        <img src="/img/ic_notation.png" class="title" width="140px">
      </div>
      
      <div class="Notation">
        <div class="main">

          <div id='container'>

            <div class="container">
              <div class="mySlides">
<!--                <div class="numbertext">1 / 6</div>-->
                <img ondragstart="return false" id="drag-img" src="" />
              </div>
              
<!--              <a class="prev" onclick="plusSlides(-1)">❮</a>-->
<!--              <a class="next" onclick="plusSlides(1)">❯</a>-->
              
            </div>
          </div>
          
        </div>
        
        <button id="zoomout" class="zoombutton"><img src="/img/zoom_out.svg" width="25px"></button>
        <button id="zoomin" class="zoombutton"><img src="/img/zoom_in.svg" width="25px"></button>
        <img id="add_pic" width="40px" id="btn2" src="/img/ic_addaudio.png">
        
        <div id="pic_list" class="row">
<!--          <div class="column">-->
<!--            <img class="demo cursor" src="/img/music1.png" style="width:100%" onclick="currentSlide(1)">-->
<!--          </div>-->
        </div>
          
      </div>
      
      <div class="Player">
        <button><img src="/img/ic_vol.png" class="player-btn1" width="44px"></button>
        <button><img src="/img/ic_stop.png" class="player-btn2" width="38px"></button>
        <button><img src="/img/ic_play.png" class="player-btn3" width="160px"></button>
      </div>
      <div class="player2">
        
      <div class="form-popup" id="myForm" class="form-container">
        <form ref='uploadForm' 
          id='uploadForm' 
          action='/upload' 
          method='post' 
          encType="multipart/form-data">
          <h1>Upload file!</h1>
          <input type="text" name="name">
          <input type="hidden" name="room" display="hidden" value="<%-data.room%>">
          <input id="buttonid" type="hidden" name="id" display="hidden">
          <input id="buttonid2" type="hidden" name="type" display="hidden">
          <input type="file" name="sampleFile" />
<!--          <input type='submit' value='Upload!' />-->
          <button type='submit' value=Upload!>Upload!</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>  
      </div>

      </div>
      <div class="Metronome">Metronome</div>
      
      <img src="/img/ic_video.png" class="video" width="54px">
      <div class="Videocall">
        <div class="video-container">
          <p>線上視訊會議 Video Call</p>
          <input type="text" placeholder="貼上聊天室連結" name="search" class="searchbar-2">
          <button type="submit" class="vd-submit">送出</button>
        </div>
      </div>
      <div>
      <hr width="100%" color="#D0D9EE" />
      
      </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-storage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      function openForm(myid, mytype) {
        document.getElementById("buttonid").value=myid;
        document.getElementById("buttonid2").value=mytype;
        document.getElementById("myForm").style.display = "block";
      }
      
      function closeForm() {
        if (document.getElementById("buttonid2").value === '0') {
          var audio_cnt = document.getElementById("buttonid").value;
          document.getElementById("src"+audio_cnt).src = "/assets/<%-data.room%>/audio/"+audio_cnt+".mp3"
          document.getElementById("audio"+audio_cnt).load();
        }
        
        else if (document.getElementById("buttonid2").value === '1') {
          var pic_cnt = document.getElementById("buttonid").value;
          document.getElementById("pic_src"+pic_cnt).src = "/assets/<%-data.room%>/image/"+pic_cnt+".png"
          //document.getElementById("audio"+audio_cnt).load();
        }
        
        document.getElementById("myForm").style.display = "none";
        //console.log('added audio :'+audio_cnt);
                
        
      }
    </script>
    <script>
      var slideIndex = 1;
      //showSlides(slideIndex);
      
      function plusSlides(n) {
        showSlides(slideIndex += n);
      }
      
      function currentSlide(n) {
        showSlides(slideIndex = n);
      }
      
      function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        //var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
//        if (n > slides.length) {slideIndex = 1}
//        if (n < 1) {slideIndex = slides.length}
//        for (i = 0; i < dots.length; i++) {
//          dots[i].className = dots[i].className.replace(" active", "");
//        }
        slides[0].style.display = "block";
        document.getElementById("drag-img").src = "/assets/<%-data.room%>/image/" + n + ".png";
        //dots[n].className += " active";
      }
    </script>
  </body>

</html>
        
        